name: Lambda Source Deployment
on:
  pull_request:
    types:
      - opened
      - synchronize


jobs:
  BuildAndDeploy:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Test
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_SESSION_TOKEN: test
          AWS_DEFAULT_REGION: us-east-1
        run: |
          pytest

      - name: Build
        run: |
          GITHUB_SHA=${{ github.event.pull_request.head.sha }}
          GITHUB_SHORT_SHA=${GITHUB_SHA:0:7}
          chmod +x ./.scripts/zip_function.sh
          ./.scripts/zip_function.sh image $GITHUB_SHORT_SHA
          ./.scripts/zip_function.sh pdf $GITHUB_SHORT_SHA
          chmod +x ./.scripts/zip_layer.sh
          ./.scripts/zip_layer.sh image $GITHUB_SHORT_SHA
          ./.scripts/zip_layer.sh pdf $GITHUB_SHORT_SHA
          # Export for later steps
          echo "GITHUB_SHORT_SHA=$GITHUB_SHORT_SHA" >> $GITHUB_ENV

      - uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
          role-session-name: GithubActionsLambdaDeployment

      - name: Deploy
        run: |
          S3_DEST_FOLDER_LAMBDA="s3://${{ vars.AWS_S3_BUCKET_LAMBDA_SOURCE }}/${{ env.GITHUB_REPOSITORY }}"
          S3_DEST_FOLDER_LAYER="s3://${{ vars.AWS_S3_BUCKET_LAMBDA_LAYER }}/${{ env.GITHUB_REPOSITORY }}"
          # Upload to S3
          aws s3 cp . "$S3_DEST_FOLDER_LAMBDA" --recursive --exclude "*" --include "image-${{ env.GITHUB_SHORT_SHA }}.zip" --include "pdf-${{ env.GITHUB_SHORT_SHA }}.zip"
          aws s3 cp . "$S3_DEST_FOLDER_LAYER" --recursive --exclude "*" --include "image-*-layer.zip" --include "pdf-*-layer.zip"
          # Update SSM Parameter
          aws ssm put-parameter \
            --name ${{ vars.AWS_SSM_IMAGE_LAMBDA }} \
            --type String \ 
            --override \
            --value "{\"lambda\": \"${S3_DEST_FOLDER_LAMBDA}/image-${{ env.GITHUB_SHORT_SHA }}.zip\", \"layer\": \"${S3_DEST_FOLDER_LAMBDA}/image-${{ env.GITHUB_SHORT_SHA }}-layer.zip\"}"
          aws ssm put-parameter \
            --name ${{ vars.AWS_SSM_PDF_LAMBDA }} \
            --type String \
            --override \
            --value "{\"lambda\": \"${S3_DEST_FOLDER_LAMBDA}/pdf-${{ env.GITHUB_SHORT_SHA }}.zip\", \"layer\": \"${S3_DEST_FOLDER_LAMBDA}/pdf-${{ env.GITHUB_SHORT_SHA }}-layer.zip\"}"
